:root{
    --clr-primary-400:#9393ec;
    --clr-primary-800:#000;
    --clr-neutral-100:#fff;
    
    --clr-gradient-400:linear-gradient(62deg, #3a3d40 0%, #181719 100%);

    --ff-accent:'Roboto Condensed', sans-serif;
    --ff-primary:'Lato', sans-serif;
}


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
	display: block;
}

html, body{
	line-height: 1;
    text-align: center;
    font-family: var(--ff-primary);
    background-image: var(--clr-gradient-400);
}

body{
    min-height: 100vh
  }

nav{
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--clr-primary-800);
    z-index: 2;
}


nav > div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    height: 100%;
    width: 100%;
    font-size: 1.8em;
    color:var(--clr-neutral-100);
}

nav > div:hover{
    color:var(--clr-primary-800);
    background-color:var(--clr-neutral-100);
}

#backgroundSection{
    position: fixed;
    height: 100vh;
    z-index: 1;
}


#welcome{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    font-size: 2.5em;
    height: 100vh;
    font-family: var(--ff-accent);
    color: var(--clr-neutral-100);
    z-index: 1;
}

.about{
    background-color:black ;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.1em dotted white;
    border-style: outset;
}


#earth{
    object-fit: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}


#projects{
    position: relative;
    top: 6em;
    bottom: 6em;
    margin: 1em;
    height: 100%;
    z-index: 1;
}

#projectContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: auto;
}

#projectContainer > div, .projectImage,.project-description{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

#projectContainer > div{
    width: 20em;
    height: 20em;
    margin: 1em;
    border-radius: 1em;
    background-color: #f2f2f2;
}

.projectImage{
    display:flex;
    /* display:none; */
    height: 90%;
    width: 90%;
    margin:auto;
}

img{
    max-width:100%;
    max-height:100%;
}

.project-description{
    display:none;
    width: 100%;
    border-radius: 1em;
}

.project-description > *{
    /* display:none; */
    transition: 0.5s;
    width: 6em;
}

.project-description > h2{
    font-size: 1.5em;
    margin: 0.5em;
    width: 100%;
}

.project-description > a{
    padding: 0.2em;
    margin: 0.2em;
    color: var(--clr-primary-800);
    border-radius: 1em;
    text-decoration: none;
    border: 0.2em solid var(--clr-primary-800);
}

.project-description > a:hover{
    color: var(--clr-neutral-100);
    background-color: #3a3d40;
}

.projectImage:hover img{    
    display:none;
}

.projectImage:hover .project-description{    
    display:flex;
}

#contact{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 4em;
    font-size: 2.5em;
    margin-left:auto;
    margin-right:auto;
    width: 80%;
    overflow-wrap: break-word;
    font-family: var(--ff-accent);
    color: var(--clr-neutral-100);
    z-index: 1;
}

#contact >*{
    background-color:black ;
    padding: 0.5em;
    border-radius: 0.5em;
    border: 0.1em dotted white;
    border-style: outset;
}

#contact > *{
    line-height: 1.5;
}

#contact > h3 > a{
    color: var(--clr-neutral-100);
}

#contact > h3 > a:hover{
    color:var(--clr-neutral-100);
    background-color:var(--clr-primary-400);
}

